main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.nav {
  color: white;
  margin: 0.1rem;
  padding: 1rem;
  text-decoration: 'none';
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr.solid {
  border-top: 3px solid rgb(22, 21, 21);
}
.padding {
  padding-top: 30px;
}
.error {
  color: red;
}
